<html>
<head>
<title>Lala School</title>
</head>
<style>
*{
margin:0px auto; 
}
body{
    font-family:calibri, verdana, sans-serif;

}
 
#wrapper{<br>width:100%;<br>}
 
#header{
width:100%; 
z-index:1000; 
position:fixed;
height:150px; 
background:black;

}
#header a.title{
color:#f0f0f0; 
font-weight:bold; 
text-decoration:none; 
font-size:30px; 
line-height:60px; 
padding:0px 20px; 
}
 
#content{
background:#eee;
min-height:900px; 
margin:0px 20px;
}
 
#footer{
background:#000;
height:100px;
margin-top: 300px;
}
#menu {
    font-size: 50px; 
    padding-top: 150px; 
    color: black;   
}
#classSeats {
  position: relative;
  text-align: center;
  top: 200px;
  /* margin-left: 10px; */
  margin-right: 100px;
 padding-top: 200px;
}

.seats {
  
  border: 2px solid #9DD1F1;
  display: inline-block;
  /* height: 100px; */
  padding: 30px 50px;
  /* margin-top: 4px; */
  margin-left: 150px;
  margin-bottom: 50px;
  /* padding: 30px auto; */
  width: 100px;
  border-radius: 7px
 
  /* padding-left: 200px; */
}

.seats:hover {
  background-color: #004E89;
  border-color: #004E89;
}

.seats img {
  padding-top: 40px;
  padding-block-end: 40px
}
</style>
<body><a href="" class="title"> </a>
<div id="wrapper">
    <div id="header">
        <spam id = "menu">
        <td><a href="google.com">Home</a></td>
        <td><a href="">About</a></td>
        <td><a href="">Contact</a></td>
    </spam>
    </div>
    <div id="classSeats">
            <div class="seats">
             1
            </div>
        
            <div class="seats">
              2
            </div>
        
            <div class="seats">
              3
            </div>
        
            <div class="seats">
              4
            </div>
        
            <div class="seats">
              5
            </div>
        
            <div class="seats">
              6
            </div>
        
            <div class="seats">
              7
            </div>
        
            <div class="seats">
              8
            </div>
        
            <div class="seats">
              9
            </div>
        
            <div class="seats">
              10
            </div>
        
            <div class="seats">
              11
            </div>
        
            <div class="seats">
              12
            </div>
        
            <div class="seats">
              13
            </div>
        
            <div class="seats">
              14
            </div>
        
            <div class="seats">
              15
            </div>
        
            <div class="seats">
              16
            </div>
        
            <div class="seats">
              17
            </div>
        
            <div class="seats">
              18
            </div>
            <div class="seats">
                19
            </div>
            <div class="seats">
              20
            </div>
          </div>
        
    <div id="footer">
 
    </div>
</div>
</body>
</html>