<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./navbar/bootstrapLink.ejs %>
    <title><%= title%></title>
</head>
<body>
    <% include ./navbar/navbar.ejs %>
    <%if(error) {%>
        <%= error%>
    <%}%>
    <form action="/login" method="post">
        <p>Email</p>
        <p><input type="text" name="email" placeholder="Email"></p>
        <p>Password</p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <button type="submit">Login</button>
    </form>
</body>
</html>